<!-- <button mat-icon-button (click)="goHome()">
	<i class="material-icons">keyboard_backspace</i>
</button> -->
<div class="cards">
    <div></div>
    <shop-item class="cards-item" *ngFor="let car of (cars$ | async)" [car]="car" (click)="onClick(car._id)"
        (editClick)="onEditClick(car._id)" (deleteClick)="onDeleteClick(car._id)"></shop-item> <!-- $action -->
    <!-- event.stopPropagation() из shop-item  -->
    <div class="add-card cards-item" (click)="onAddClick()">
        <mat-card>
            <i class="material-icons add-icon">add_circle_outline</i>
        </mat-card>
    </div>
</div>

<!-- {{cars$ | async | json}} -->

{{shop$ | async | json}}
{{cars$ | async | json}}