@import "~/../../../../styles/theme/index.scss";
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 32px auto;
    padding: 32px;
    h3 {
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    img {
        max-width: 100%;
        height: 200px;
        margin: 8px auto 16px;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 500px) {
    form {
        width: 100%;
        padding: 6vw;
        margin: 32px auto 32px;
    }
}